@mixin technologyItem
{
  border: solid 1px black;
  margin: 5px;
  padding: 2px;
  font-family: monospace;
}

.technology-list
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  &, li
  {
    list-style: none;
    padding-left: 0;
  }

  li
  {
    @include technologyItem;
  }
}
