@mixin technologyItem
{
  margin: 5px;
  padding: 5px 8px;
  font-family: "Space Mono";
  font-size: 13px;
  line-height: 150%;
  color: white;
  background: black;
  border-radius: 4px;
}


.technology-list
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  &, li
  {
    list-style: none;
    padding-left: 0;
  }

  li
  {
    @include technologyItem;
  }
}
