.timeline
{

}

.timeline__title
{

}

.timeline__item
{
  border-left: solid 6px black;
  padding-left: 6px;
}

.timeline__item-title
{

}

.timeline__item-image
{
  width: 500px;
  max-width: 100%;

}
