@import "../../style/typography";
@import "../../style/colors";

.timeline
{

}

.timeline__title
{
  @include titleFont;
  font-size: 27px;
  line-height: 100%;
}

.timeline__item
{
  border-left: solid 6px $colorProjects;
  padding-left: 6px;
  p, li
  {
    @include bodyTypography;
  }
  .media-embed
  {
    width: 500px;
    max-width: 100%;
  }
}

.timeline__item-title
{
  @include titleFont;
  font-size: 27px;
  line-height: 100%;
  color: $colorProjects;
}

.timeline__item-image
{
  width: 500px;
  max-width: 100%;
}
