@import "../../style/typography";

.timeline
{

}

.timeline__title
{
  @include titleFont;
}

.timeline__item
{
  border-left: solid 6px black;
  padding-left: 6px;
  p, li
  {
    @include bodyTypography;
  }
  .media-embed
  {
    width: 500px;
    max-width: 100%;
  }
}

.timeline__item-title
{
  @include titleFont;
}

.timeline__item-image
{
  width: 500px;
  max-width: 100%;
}
