
@mixin bodyFont
{
  font-family: "Work Sans";
  font-weight: 400;
}

@mixin titleFont
{
  font-family: VT323;
  font-weight: 400;
}

@mixin siteTitleFont
{
  font-family: VT323;
}

@mixin bodyTypography
{
  @include bodyFont;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
}
