
@mixin bodyFont
{
  font-family: Karla;
  font-weight: 400;
}

@mixin titleFont
{
  font-family: Karla;
  font-weight: 400;
}

@mixin siteTitleFont
{
  font-family: Karla;
}

@mixin bodyTypography
{
  @include bodyFont;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
}

@mixin h2FontSize
{
  font-size: 30px;
}

@mixin h3FontSize
{
  font-size: 27px;
}
