@import "../../style/colors";
@import "../../pages/typography.module.scss";

.article-link
{
  margin-bottom: 30px;
  &:hover .title
  {
    text-decoration: underline;
  }
}

.title
{
  composes: bodyFont;
  text-decoration: none;
  color: #222;
  display: block;
  font-size: 23px;
  line-height: 121%;
  font-weight: 600;
}

.description
{
  composes: bodyFont;
  font-size: 16px;
  line-height: 145%;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  display: block;
}

.publish-date
{
  composes: bodyFont;
  color: $colorDate;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 175%;
}
