.content-list
{

}

.item
{
  &.overThreshold
  {
    display: none;
  }
}

.expand-command
{
  font-family: "Work Sans";
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  padding: 9px;
  cursor: pointer;
  &:not(.-is-expanded)
  {
    font-weight: bold;
  }
  &:focus
  {
    outline: none;
  }
}
