.content-list
{

}

.item
{
  &.overThreshold
  {
    display: none;
  }
}

.expand-command
{
  background: none;
  border: none;
  color: #0000dd;
  text-decoration: underline;
  cursor: pointer;
  &:not(.-is-expanded)
  {
    font-weight: bold;
  }
}
