@import "../../style/colors";
@import "../../style/utils";
@import "../../style/typography";

.inner-nav
{
  @include siteTitleFont;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 6px;
  padding: 35px 0;
  margin: 0 45px;
  @media (max-width: 945px) {
    //padding: 0;
    max-width: 805px;
    margin: 0 auto;
  }
}

.inner-nav--Projects
{
  composes: inner-nav;
  color: $colorProjects;
}

.inner-nav--Writing
{
  composes: inner-nav;
  color: $colorWriting;
}

.site-section-name
{
  color: inherit;
  @include maxWidths(font-size, 22px, $w480: 16px, $w728: 20px);
  text-transform: uppercase;
  margin: 2px 10px 0 10px;
}

.site-title-link
{
  composes: siteTitleFont from '../../pages/typography.module.scss';
  @include maxWidths(font-size, $base: 42px, $w480: 28px, $w728: 36px);
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.site-home-link
{
  color: black;
  @include maxWidths(font-size, 22px, $w480: 16px, $w728: 20px);
  text-decoration: none;
  text-transform: uppercase;
  margin: 2px 10px 0 10px;
}
