@import "../style/colors";
@import "./typography.module.scss";
$viewportSectionCollapseWidth: 637px;
.section
{
  padding: 20px 0;
  margin: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media (max-width: $viewportSectionCollapseWidth) {
    flex-direction: column;
  }
}

.section--content {
  composes: section;
  > .header,
  > .title
  {
    padding-left: 0;
  }
  > .data
  {
    padding-right: 0;
  }
}

.section--home
{
  composes: section;
  //background: $colorHomeHeader;
}

$sectionBorderWidth: 2px;
.section--projects
{
  composes: section--content;
  margin-top: 0;
  border-top: solid $sectionBorderWidth $colorProjects;
}

.section--writing
{
  composes: section--content;
  border-top: solid $sectionBorderWidth $colorWriting;
}

.section--tech
{
  composes: section--content;
  border-top: solid $sectionBorderWidth $colorTechnology;
}

.header
{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  @media (min-width: $viewportSectionCollapseWidth) {
    min-width: 280px;
    max-width: 400px;
    flex-basis: 280px;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.title
{
  composes: header;
  composes: sectionTitle from './typography.module.scss';
}

.intro
{
  margin: 0;
  padding: 0;
}


.header--home
{
  composes: header;
}

.data
{
  @media (min-width: $viewportSectionCollapseWidth) {
    min-width: 280px;
    max-width: 600px;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 280px;
  }
  padding: 0 3%;
  //when header and body are collapsed, do not need padding, as section has margin
  @media (max-width: $viewportSectionCollapseWidth) {
    padding: 0;
  }
}


.title--projects
{
  composes: title;
  color: $colorProjects;
}

.title--writing
{
  composes: title;
  color: $colorWriting;
}

.title--tech
{
  composes: title;
  color: $colorTechnology;
}

.title--site
{
  composes: siteTitle from './typography.module.scss';
  font-weight: normal;
}

.subtitle
{
  composes: subtitle from './typography.module.scss';
  margin: 10px 0 30px 0;
  line-height: 150%;
  font-style: italic;
}

.external-link-section
{
  margin: 40px 0 60px 0;
  
}

.external-link-section__title
{
  margin: 0;
  color: inherit;
}

.external-link-section__link
{
  composes: bodyFont;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  
  &:after
  {
    display: inline;
    content: ' >';  
  }
  &:hover
  {
    text-decoration: underline;
  }
}

.external-link-section--linkedin
{
  composes: external-link-section;
}

.external-link-section--twitter
{
  composes: external-link-section;
}

.external-link-section--github
{
  composes: external-link-section;
}
