@import "../style/typography";


.siteTitle
{
  font-size: 30px;
  font-family: Bungee;
  letter-spacing: -1px;
}

.sectionTitle
{
  @include titleFont;
  font-size: 28px;
  font-style: normal;
}


.body
{
  @include bodyTypography;
}
