@import "../style/typography";
@import "../style/utils";

.siteTitleFont
{
  @include siteTitleFont;
}

.titleFont
{
  @include titleFont;
}

.bodyFont
{
  @include bodyFont;
}

.siteTitle
{
  composes: siteTitleFont;
  font-size: 40px;
  
}

.siteSubtitle
{
  @include h3FontSize;
}

.sectionTitle
{
  composes: titleFont;
  font-size: 35px;
}


.body
{
  @include bodyTypography;
}

.subtitle
{
  composes: body;
  font-size: 20px;
}
