@import "../style/typography";

.siteTitleFont
{
  @include siteTitleFont;
}

.titleFont
{
  @include titleFont;
}

.bodyFont
{
  @include bodyFont;
}

.siteTitle
{
  composes: siteTitleFont;
  font-size: 55px;
}

.siteSubtitle
{
  @include h3FontSize;
}

.sectionTitle
{
  composes: titleFont;
  font-size: 50px;
}


.body
{
  @include bodyTypography;
}
