@import "../../style/colors";
@import "../../style/utils";
@import "../../pages/typography.module.scss";

$colorPl: #222;
.project-link
{
  border: none;
  border-bottom: 1px solid $colorDivider;
  color: $colorPl;
  margin: 8px ;
  cursor: pointer;
  padding: 0 0 20px 0;
  &:hover
  {
    color: $colorProjects;
    .year
    {
      color: inherit;
    }
  }
}

.title
{
  display: block;
  
  font-size: 30px;
  line-height: 160%;
  font-family: "Work Sans";
  color: inherit;
  text-decoration: none;
}

.year
{
  text-decoration: none;
  color: $colorDate;
  composes: bodyFont;
}
