@import "../../style/colors";
@import "../../style/utils";

$colorPl: #222;
.project-link
{
  border-width: 0px;
  border-bottom-width: 2px;

  border-style: dashed;
  color: $colorPl;
  margin: 8px ;
  max-width: 350px;
  &:hover
  {
    border-style: solid;
  }
}

.title
{
  display: block;
  padding: 20px;
  font-size: 30px;
  font-family: "Work Sans";
  color: inherit;
  text-decoration: none;
  &:hover
  {
    background: none;
    color: white;
    background-color: $colorPl;
  }
}
