@import "../../style/typography";

.prose-content__body
{

  > p
  {
    @include bodyTypography;
    max-width: 800px;
  }

  > ul:not(.technology-list)
  {
    li
    {
      @include bodyTypography;
      max-width: 650px;
      margin-bottom: 10px;
    }
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6
  {
    @include titleFont;
  }

  .content-image
  {
    max-width: 100%;
  }

  .content-image.--screenshot
  {

  }
}
