@import "../../style/typography";
//syntax highlighting
@import '../../node_modules/highlight.js/styles/tomorrow-night-eighties.css';

.prose-content
{
  max-width: 805px;
  margin: 0 auto;
}

.prose-content__title
{
  @include bodyFont;
  font-size: 40px;
  line-height: 117%;
}

.prose-content__body
{

  > p
  {
    @include bodyTypography;
    max-width: 800px;
  }

  > ul:not(.technology-list),
  > ol:not(.technology-list)
  {
    li
    {
      @include bodyTypography;
      max-width: 650px;
      margin-bottom: 10px;
    }
  }

  > pre
  {
    max-width: 100%;
    overflow: auto;
    background: #2d2d2d;
    color: #cccccc;
    padding: 10px;
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6
  {
    @include titleFont;
    line-height: 100%;
  }

  > h2
  {
    font-size: 27px;
  }

  > h3
  {
    font-size: 25px;
  }

  .content-image
  {
    max-width: 100%;
    &.--tiny
    {
      max-width: 25%;
    }
    &.--small
    {
      max-width: 50%;
    }
    &.--screenshot
    {

    }
  }

  .media-embed
  {
    .media-embed__viewport
    {
      width: 100%;
      //padding-top: 56.25%;
      position: relative;
      iframe
      {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}
